.container-fluid h1{
    border-bottom: 1px solid black;
}

.analytics{
   padding: 4rem 2rem;
   border-radius: .3rem;
   background-color: #e9ecef;
}


.up-icon{
    color: teal;
}

.down-icon{
    color: pink;
}

.comment-icon{
    color: grey;
}