<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JanMat</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/home.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <h1><img src="images/favicon.ico"/> Janmat - People's opinion for peoples benefit</h1>
    <div class="jumbotron">
        <p class="lead">Total mat: <span th:text="${mats.size()}"></span></p>
    </div>
    <a href="postmat">Post your mat</a>
    <table class="table">
        <tr>
            <th>City</th>
            <th>About</th>
            <th>Details</th>
        </tr>
        <tr th:each="mat : ${mats}">
            <td th:text="${mat.city}"></td>
            <td th:text="${mat.about}"></td>
            <td th:text="${mat.details}"></td>
        </tr>
    </table>
</div>
</body>
</html>