<!DOCTYPE html>
<html>
<head>
    <title>JanMat</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/home.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
        .masthead {
  height: 75vh;
  min-height: 500px;
  background-image: url('images/under-construction.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


    </style>
</head>
<body>
<header class="masthead">
</header>
<section class="py-5">
    <div class="container">
        <h2 class="font-weight-bold">Janmat.info will soon be available</h2>
        <p>For any queries get in touch at <strong>janmatofindia@gmail.com</strong> </p>
    </div>
</section>
</body>
</html>